<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text similarity detector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Text similarity detector
        </h1>
        <p class="subtitle">
            Please enter some text in both the boxes below, select the algorithms to run, and click on calculate to view
            the results!
        </p>

    </div>
</section>

{% if scores %}
    <section class="section">
        <div class="container">
            <p class="subtitle">
                <b>Scores</b> (out of 1.0)
            </p>
            {% for score in scores %}
                <p>
                    <b>{{ score.0 }}</b>: {{ score.1 }}
                </p>
            {% endfor %}
        </div>
    </section>
{% endif %}

{% load bulma_tags %}
<section class="section">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form | bulma }}
            <input class="button is-primary" type="submit" value="Calculate">
        </form>
    </div>
</section>

</body>
</html>